@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}

li {
    list-style-type: square;
}

p {
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
}